{% extends "snippets/base.html" %}

{% block title %} - Add Snippet{% endblock %}


{% block content %}

	<form class="form-invis detailWidth centered" method="post" action={% if snippet %}"/snippets/save/{{ snippet.pk }}/"{% else %}"/snippets/save/"{% endif %}>
		{% csrf_token %}
		<div class="form-group">
		    <div class="control-group">
		        <label for="title">Title</label>
		        <input name="title" id="title" type="text"{% if snippet.title != '' %} value="{{ snippet.title }}"{% endif %}>
		    </div>

		    <div class="control-group">
		        <label for="url">Url</label>
		        
		        <input name="url" id="url" type="text" placeholder="http://www."{% if snippet.url != '' %} value="{{ snippet.url }}"{% endif %}>
		        
		    </div>

		    <div class="control-group">
		        <label for="text">Text</label>
		        <textarea rows="5" name="text" id="text">{% if snippet.text != '' %}{{ snippet.text }}{% endif %}</textarea>
		    </div>

		    <div class="control-group">
		        <label for="media">Media</label>
		        <input name="media" id="media" type="text" placeholder="Url to image or YouTube video id"{% if snippet.media != '' %} value="{% if snippet.mediaType == '2' %}www.youtube.com/watch?v={% endif %}{{ snippet.media }}"{% endif %}>
		    </div>
		</div>

	    <div>
	        <button type="submit" class="button rounded-bottom">{% if snippet %}Save{% else %}Add{% endif %}</button>
	    </div>
	</form>

{% endblock %}

