{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>WebSnippets{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    {% block head %}{% endblock %}
</head>

<body>
    <div id="header">
        <a class="button" href="/snippets/">Home</a>
        <a class="button" href="/snippets/add/">Add Snippet</a>
        <a class="button" id="browse" href="/snippets/">Browse</a>
        <div id="dropdownOptions">
            {% for keyword in keywords %}
                <a class="button" href="/snippets/q/{{ keyword }}/">{{ keyword }}</a>

            {% endfor %}
        </div>
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <div id="footer">
        footer
    </div>
</body>
</html>