{% extends "snippets/base.html" %}

{% block content %}

<div class="detailbox">

	{% if snippet.media != "" %}
        {% if snippet.mediaType == "0" %}
            <img src='{{ snippet.media }}'>
        {% else %}
            {%if snippet.mediaType == "1" %}
            <img src='{{ snippet.media }}'>
            {% else %}
                {%if snippet.mediaType == "2" %}
                    <iframe src="http://www.youtube.com/embed/{{ snippet.media }}?html5=1&autohide=1" width="500" height="300" frameborder="0" allowfullscreen></iframe>                          
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}    

	{% if snippet.title != ''%}
		{% if snippet.url != ''%}
			<a href="{{ snippet.url }}"><h1>{{ snippet.title }}</h1></a> 
		{% else %}
			<h1>{{ snippet.title }}</h1>
		{% endif %}
	{% endif %}
	

	<h5>({{ snippet.date_added }})</h5>

	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

	{% if snippet.text != ''%}
		{{ snippet.text|linebreaks }}
	{% endif %}

    
    <div class="keywords">
    {% for keyword in snippet.keywords.all %}       
        <a href="/snippets/q/{{ keyword }}/">{{ keyword }}</a>
        {% if not forloop.last %} | {% endif %}     
    {% endfor %}
    </div>
    

</div>
<div class="detailbuttons">

	<a class="detailbutton" href="/snippets/edit/{{ snippet.pk }}/">Edit</a>

	<form class="form-invis tight ib" name="form" method="post" action="/snippets/delete/">
		{% csrf_token %}
		<input type="hidden" name="id" value={{ snippet.pk }}>
		<button type="submit" value="Delete" class="detailbutton">Delete</button>		
	</form>
		
</div>
<!-- 
<form id="form" name="form" method="post" action="/snippets/delete/">
	{% csrf_token %}
	<input type="hidden" name="id" value={{ snippet.pk }}>
	<button type="submit" value="Delete" class="button">Delete Snippet</button>

</form>
!-->

{% endblock %}