{% extends "snippets/base.html" %}

{% block head %}
<script type="text/javascript" src="{{ STATIC_URL }}js/masonry.pkgd.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/infinite-scroll.js"></script>
{% endblock %}

{% block content %}

    {% if snippet_list %}      
        <div id="snippetcontainer">
            {% for snippet in snippet_list %}
                <a class="snippetbox {{ snippet.width }}" href="/snippets/view/{{ snippet.id }}/">
                    {% if snippet.media != "" %}
                        {% if snippet.mediaType == "0" %}
                            <img src='{{ snippet.media }}'>
                        {% else %}
                            {%if snippet.mediaType == "1" %}
                            <img src='{{ snippet.media }}'>
                            {% else %}
                                {%if snippet.mediaType == "2" %}
                                    <iframe src="http://www.youtube.com/embed/{{ snippet.media }}?html5=1&autohide=1" width="520" height="310" frameborder="0" allowfullscreen></iframe>
                                    <p>.</p>                          
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}    

                    {% if snippet.title != '' or snippet.text != '' %}
                        <div class="snippettext">
                            {% if snippet.title != ''%}
                                <h3>{{ snippet.title }}</h3>
                            {% endif %}

                            {% if snippet.text != ''%}
                                {{ snippet.text|truncatewords:60|linebreaks }}
                            {% endif %}
                        </div>
                    {% endif %}
                </a>
            {% endfor %}
        </div>
        
    {% else %}
        <p>No snippets are available.</p>
    {% endif %}

    <nav id="page-nav">
        <a href="./{{ nextpage }}/"></a>
    </nav>

    <a href="#" class="back-to-top">Back to Top</a>


    <script>
        $(function(){
            
            var $container = $('#snippetcontainer');
            
            $container.imagesLoaded(function(){
              $container.masonry({
                itemSelector: '.snippetbox',
                columnWidth: 270,
                isFitWidth: true
              });
            });
            
            $container.infinitescroll({
              navSelector  : '#page-nav',    // selector for the paged navigation 
              nextSelector : '#page-nav a',  // selector for the NEXT link (to page 2)
              itemSelector : '.snippetbox',     // selector for all items you'll retrieve
              bufferPx: 2000,
              loading: {
                  finishedMsg: 'No more pages to load.',
                  img: 'http://i.imgur.com/6RMhx.gif'
                }
              },
              // trigger Masonry as a callback
              function( newElements ) {
                // hide new items while they are loading
                var $newElems = $( newElements ).css({ opacity: 0 });
                // ensure that images load before adding to masonry layout
                $newElems.imagesLoaded(function(){
                  // show elems now they're ready
                  $newElems.animate({ opacity: 1 });
                  $container.masonry( 'appended', $newElems, true ); 
                });
              }
            );
            
        });


        jQuery(document).ready(function() {
            var offset = 220;
            var duration = 500;
            jQuery(window).scroll(function() {
                if (jQuery(this).scrollTop() > offset) {
                    jQuery('.back-to-top').fadeIn(duration);
                } else {
                    jQuery('.back-to-top').fadeOut(duration);
                }
            });
            
            jQuery('.back-to-top').click(function(event) {
                event.preventDefault();
                jQuery('html, body').animate({scrollTop: 0}, duration);
                return false;
            })
        });
    </script>


{% endblock %}
